@media  and (max-width : 1200px) {
    #hero p {
        font-size: .9rem;
    }

    #hero h1 {
        font-size: 2.3rem;
    }
}

@media  and (max-width : 768px) {
    #hero img {
        width: 60%;
    }
}

@media  and (max-width : 576px) {
    
}

@media  and (max-width : 350px) {
    
}